IndentWidth: 4

---
Language: Cpp
PointerAlignment: Left
ColumnLimit: 80
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
ExperimentalAutoDetectBinPacking: false